extends ../layouts/default

block content
	.section(data-name="banner")
		.section__content
			h1 You're all mega gay
	.section(data-name="submitForm")
		.section__content
			form(data-connect="/api/post/create", action='/submitform', role='submitform', data-magicForm)
				input(type='hidden', name='action', value='submitform')
				input(name="content", type="text", placeholder="ur mom", required)
				button.btn.btn--blue(type="submit") Submit
	.section(data-name="posts")
		.section__content
			h2 Posts
			include ../components/posts
