doctype html
html(style={"font-size": "10px"})

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'NGA'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="/styles/site.css", rel="stylesheet")

		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		block css
		block head

	body(style={"font-size": "10px"})
		include ../components/nav
		.index
			block content

		script(src="https://cdnjs.cloudflare.com/ajax/libs/async/2.5.0/async.min.js")
		script(src='/js/jquery/jquery-1.11.3.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
		
		script(src="/js/main.js")

		block js
