body {
	font-family: 'Lato', sans-serif;
	font-weight: normal;

	* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		outline: none !important;
	}

	.index {
		padding-top: $navHeight;
	}

	h1 {
		font-size: 4rem;
		line-height: 6rem;
	}

	h2 {
		font-size: 2.4rem;
		line-height: 4rem;
	}
}
