@mixin Transition($duration: 1000ms, $att: all) {
	-webkit-transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1);
	-ie-transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1);
	-ms-transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1);
	transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1);
}

@mixin ForcedTransition($duration: 1000ms, $att: all) {
	-webkit-transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1) !important;
	-moz-transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1) !important;
	-ie-transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1) !important;
	-ms-transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1) !important;
	-o-transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1) !important;
	transition: $att $duration cubic-bezier(0.77, 0, 0.175, 1) !important;
}


@mixin TransitionR($duration: 1000ms, $att: all) {
	-webkit-transition: $att $duration cubic-bezier(0.175, 0, 0.77, 1);
	-moz-transition: $att $duration cubic-bezier(0.175, 0, 0.77, 1);
	-ie-transition: $att $duration cubic-bezier(0.175, 0, 0.77, 1);
	-ms-transition: $att $duration cubic-bezier(0.175, 0, 0.77, 1);
	-o-transition: $att $duration cubic-bezier(0.175, 0, 0.77, 1);
	transition: $att $duration cubic-bezier(0.175, 0, 0.77, 1);
}

@mixin LinearTransition($duration: 1000ms, $att: all) {
	-webkit-transition: $att $duration Linear;
	-moz-transition: $att $duration Linear;
	-ie-transition: $att $duration Linear;
	-ms-transition: $att $duration Linear;
	-o-transition: $att $duration Linear;
	transition: $att $duration Linear;
}
