@mixin Input($color) {
  display: inline-block;
  width: 250px;
  height: 50px;
  background: $color;
  border: 1px solid;
  font-size: 18px;
  padding: 0 10px;
  margin-bottom: 10px;
  text-indent: 10px;
  @include Transition(300ms);

  @if $color == white {
    color: $black;
    border-color: $white;
    background: $white;
  }

  @if $color == black {
    color: $white;
    border-color: $black;
    background: $black;
  }


  &.error {
    border-bottom: 1px solid $red;
  }
}


input {
  @include Input(white);


  &--white {
    @include Input(white);
  }

  &--black {
    @include Input(black);
  }
}
